@tailwind base;
@tailwind components;
@tailwind utilities;

.text-ellipsis--2{
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

*{
  font-family: 'Signika', sans-serif;
}

.font{
  font-family: 'Signika', sans-serif;
  font-weight: 200;
}